/* (c) Raymondoor, MIT License*/
:root{
    --snst-color1:hsl(200,60%,50%);
    --snst-color2:hsl(210,60%,50%);
    --snst-color3:hsl(15,100%,60%);
    --snst-color4:hsl(15,50%,50%);
    --snst-color5:hsl(15, 100%, 50%);
    --snst-color6:hsl(60,100%,98%);
    --snst-color7:hsl(60,20%,95%);
    --snst-color8:hsl(60,50%,85%);
    --snst-color9:hsl(210,60%,5%);
    --borderColor:var(--snst-color1);
    margin:0;
    padding:0;
    font-size:clamp(12px,2vw,16px);
    font-family:sans-serif;
}
*{
    position:relative;
    font-size:clamp(12px,2vw,16px);
    font-family:sans-serif;
    color:var(--snst-color9);
    box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6,p{
    display:block;
    margin:0;
    margin-bottom:0.25em;
    line-height:1.5;
}
h1,h2,h3,h4,h5,h6{
    border-bottom:1px solid var(--snst-color1);
}
p{font-size:1em;}
h6{font-size:0.67em;}
h5{font-size:0.83em;}
h4{font-size:1em;}
h3{font-size:1.17em;}
h2{font-size:1.5em;}
h1{font-size:2em;}
button,input,option,select,textarea{
    font-size:1em;
    line-height:1.5;
}
button,input,select,textarea{
    border:1px solid var(--borderColor);
    border-radius:2px;
}
button{
    cursor:pointer;
}
summary{
    font-size:1em;
    cursor:pointer;
}
hr{
    margin:0;
    border:0.5px solid var(--borderColor);
}
code,pre{
    background-color:#eee;
}
pre{
    margin:0;
    padding:0.5em;
    line-height:1.25;
    border-radius:2px;
}
fieldset{
    margin:0;
    padding:0.5em;
    border:1px solid var(--borderColor);
}
table{
    border-collapse:collapse;
}
table,th,td{
    border:1px solid var(--borderColor);
    padding:0.5em;
}
a{color:var(--snst-color3);}
a:hover{color:var(--snst-color4);}
a:active{color:var(--snst-color5);}
input[type="file"]{
    border:none;
}
input[type="submit"],input[type="button"],input[type="reset"],button{
    background-color:var(--snst-color6);
}
input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover,button:hover{
    background-color:var(--snst-color7);
    border:1px solid var(--snst-color2);
}
input[type="submit"]:active,input[type="button"]:active,input[type="reset"]:active,button:active{
    background-color:var(--snst-color8);
    border:1px solid var(--snst-color2);
}
dl,ul,ol{
    margin:0.5em 0;
}
ul,ol{
    padding-left:2em;
}